@font-face {
    font-family: 'Norse Bold';
    src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf);
}

body {
    background-color: rgb(232, 231, 231);
    display: flex;
    flex:1 1 auto;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto Flex', sans-serif;
    color: rgb(28, 27, 27);

    --default-margin: 2rem;

}

h1{
    font-weight: bold;
    font-size: 1.5rem;
    margin: var(--default-margin);
}

.describing-text{
    width: 90%;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.content{
    display:flex;
    flex: 1;
    flex-direction: column;
    justify-content:center;
}

.forms{
    background-color: white;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 1.5rem 2rem;
    box-shadow: 0px 4px 8px #b1aeae;

    justify-content: space-evenly;
}

.logo{
    display:flex;
    flex: 0 0 auto;
    position:relative;
    min-width: fit-content;
    min-height: fit-content;
}

#plant{
    height: 100%;
}

.transparent-icon{
    background-color: rgba(0, 0, 0, 0.5);

    position:absolute;
    top: 20%;
    width: 100%;
    max-width: 100%;

    display:flex;
    flex:1;
    justify-content: center;
    align-items:center;

    overflow: hidden;
}

.logo-title{
    font-family: 'Norse Bold', sans-serif;
    color:white;
    font-size: 8rem;
    margin: 0;
}

#odin-logo{
    width: 6rem;
    margin: 1rem;
}

.create-account-section{
    margin: var(--default-margin);
    flex-direction: column;
    height: 1rem;
}

.button-create-account{
    font-size: large;
    font-weight: bolder;

    width: 14rem;
    padding: 1rem;
    margin-bottom: 1rem;

    background-color: #596D48;
    color: white;
    border: 0;
    border-radius: 9px;
    box-shadow: 0px 4px 8px #b1aeae;
}


p{
    font-weight: 550;
}

a{
    text-decoration: none;
    color: #596D48;
}

.inputs{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

input{
    height: 1.5rem;
    border-radius: 6px;
    border-width: 0.17rem;
    border-color: rgba(0, 0, 0, 0.5);
}

input:focus {
    outline-color: rgb(0, 162, 255);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.outline-wrong{
    border-color: red;
}

.outline-correct{
    border-color: green;
}

.inputs > div{
    width: 20rem;
    display:flex;
    flex: 0 1 auto;
    flex-direction: column;
    gap: 0.5rem;
}

.inputs > div > label{
    font-family: 'Open Sans';
    font-weight: 600;
}